<footer class="site-footer">

	{% if page.url != "/games/" %}
	<div class="wrapper">
		<a class="button more-games" href="{% link _pages/games.md %}">View All Games</a>
		<h2>Popular Games</h2>
	</div>

	{% include games-list.html limit=10 %}
	{% endif %}

	<div class="wrapper">

		<div class="site-description">
			<h2>{{ site.title | escape }}</h2>
			<p>{{ site.description | escape }}</p>
		</div>

		<nav>
			<a href="{% link _pages/games.md %}">Games</a>
			<a href="{% link _pages/favourites.md %}">Favourite Games</a>
			<a href="{% link _pages/about.md %}">About</a>
			<!-- <a href="{% link _pages/about.md %}">Developers</a> -->
		</nav>

		<p class="copyright">
			&copy;Binary Sun 2004 - {{ site.time | date: '%Y' }} <span class="sep">|</span> <a href="https://www.binarymoon.co.uk/">A Binary Moon playground</a>
		</p>

	</div>

</footer>
