<style>
.game-container {
	max-width: {{ include.game.game_width | round }}px;
}
.game-container-inner {
	padding-bottom: {{ include.game.game_height | times: 100 | divided_by: include.game.game_width }}%;
}
</style>

<div class="game-wrapper">

	<div class="game-container">
		<div class="toolbar">
		</div>

		<div class="game-container-inner">
			<iframe
				src="https://games.gamepix.com/play/{{ include.game.game_id }}?sid=80185"
				frameborder="0"
				scrolling="no"></iframe>
		</div>
	</div>

</div>

<div class="game-description wrapper">

	<header class="game-header">
		<h1 class="game-title">{{ include.game.title | escape }}</h1>
	</header>

	{{ content }}

</div>
