<a href="#all" data-category="all" class="selected button">All Games</a>
<a href="#arcade" data-category="arcade" class="button">Arcade</a>
<a href="#puzzles" data-category="puzzles" class="button">Puzzles</a>
<a href="#adventure" data-category="adventure" class="button">Adventure</a>
<a href="#classics" data-category="classics" class="button">Classics</a>
<a href="#girls" data-category="girls" class="button">Girls</a>
<a href="#sports" data-category="sports" class="button">Sports</a>
<a href="#casino" data-category="casino" class="button">Casino</a>
<a href="#strategy" data-category="strategy" class="button">Strategy</a>
