body {

	background: $canvas-grey-10;

}

.wrapper {

	max-width: 45rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2%;

}

a {

	text-decoration: none;
	color: $canvas-blue;
	@include transition;

	&:hover {

		text-decoration: underline;
		@include transition;

	}

}

h1, h2, h3, h4, h5, h6 {

	font-weight: bold;

}

.masthead {

	margin-bottom: $grid-line-height * 2;
	position: relative;
	border: $border-width solid $canvas-white;
	background: $canvas-yellow;
	overflow: hidden;
	@include clear;

	.site-title {

		@include modular-scale( delta );
		color: $canvas-grey-100;
		font-weight: bold;
		background: $canvas-white;
		float: left;
		padding: 0 ( $grid-gutter / 2 );
		line-height: $grid-line-height * 2.5;
		border-right: $border-width solid $canvas-white;

		&:hover {

			background: $canvas-blue;
			color: $canvas-white;
			text-decoration: none;

		}

		@include for-phone() {

			width: 100%;
			text-align: center;
			border: none;

		}

	}

	nav {

		float: right;
		text-align: right;
		padding: 0 ( $grid-gutter / 2 );

		a {

			@include post-meta-data;
			color: $canvas-grey-100;
			padding: 0 ( $grid-gutter / 2 );
			line-height: $grid-line-height * 2.5;
			font-weight: bold;
			display: inline-block;

			.count {

				background: $canvas-white;
				padding: 0.25em 0.5em;
				border-radius: 1rem;
				text-align: center;
				display: none;
				line-height: 1;

				animation-duration: 0.3s;
				animation-delay: 0;
				animation-iteration-count: 1;

				//box-shadow: 0 0.2em 0.2em rgba( $canvas-grey-100, 0.1 );

			}

		}

		@include for-phone {

			width: 100%;
			float: none;
			text-align: center;

		}

	}

}

.icon {

	&:before {

		content: '';
		width: 24px;
		height: 24px;
		display: inline-block;
		background: url( ../images/icons.png ) no-repeat top center;
		background-size: 24px;
		vertical-align: middle;
		margin: -0.25em 0.5em 0 0;

	}

	&.games {
		&:before {
			background-position-y: 24px * -6;
		}
	}

	&.fullscreen {
		&:before {
			background-position-y: 24px * -4;

			body.fullscreen-game & {
				background-position-y: 24px * -5;
			}
		}
	}

	&.fave {
		&:before {
			background-position-y: 24px * 0;
		}
		&.favorited {
			&:before {
				background-position-y: 24px * -3;
			}
			&:hover {
				&:before {
					background-position-y: 24px * -2;
				}
			}
		}
		&:hover {
			&:before {
				background-position-y: 24px * -1;
			}
		}
	}

}

.games-list {

	display: flex;
	flex-wrap: wrap;
	//justify-content: space-between;
	align-content: space-between;
	margin-bottom: $grid-line-height * 2;
	padding: 0;;

	.game {

		width: 14%;
		margin: 0 3% $grid-line-height 3%;

		.game-name {

			font-weight: bold;
			text-align: center;
			display: block;
			@include modular-scale( eta );

		}

		.game-icon {

			border-radius: 15%;
			display: block;
			margin-bottom: $grid-line-height / 4;

		}

		@include for-phone {

			width: 27%;

		}

	}

}

.game-wrapper {

	.game-container {

		position: relative;
		border: $border-width solid $canvas-white;
		margin: 0 auto ( $grid-line-height * $grid-line-height-multiplier )  auto;
		width: 100%;
		display: block;
		background: $canvas-white;

		.game-container-inner {

			position: relative;

		}

		.toolbar {

			text-align: center;
			border-bottom: $border-width solid $canvas-white;

		}

		button {

			background: transparent;
			color: $canvas-grey-100;

		}

		iframe {

			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

		}

	}

}

.category-header {

	margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	h1 {

		margin: 0 0 ( $grid-line-height ) 0;

		@include for-phone {

			@include modular-scale( delta );
		}

	}

	.filter {

		@include post-meta-data;

		a {

			margin-right: 0.1em;
			margin-bottom: 0.25em;

			&.selected {

				color: $canvas-grey-100;
				background: $canvas-yellow;

			}

		}

	}

}

.game-description {

	h1 {

		@include modular-scale( epsilon );

	}

}

.site-footer {

	padding: ( $grid-line-height * 3 ) 0;
	margin-top: $grid-line-height * 3;
	background: $canvas-white;

	.site-description {

		margin-bottom: $grid-line-height * 3;

		h2 {

			@include modular-scale( epsilon );
			font-weight: bold;

		}

		p {

			&:last-child {

				margin: 0;

			}

		}

	}

	.copyright {

		@include post-meta-data;
		text-align: center;

		.sep {

			margin: 0 ( $grid-gutter / 4 );
			opacity: 0.5;

		}

	}

	nav {

		text-align: center;
		margin-bottom: $grid-line-height;

		a {

			padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );
			display: inline-block;

		}

	}

}

.more-games {

	float: right;

}

.my-favourite-games {

	.filter {

		display: none;

	}

	.all-games {

		.games-list {

			.game {

				display: none;

			}

		}

	}

}

body.fullscreen-game {

	overflow: hidden;

	.game-wrapper {

		.game-container {

			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 100;
			max-width: 100%;
			padding-bottom: 0;
			height: 100%;

			.game-container-inner {

				padding-bottom: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 36px;

			}

		}

	}

}

.gallery {

	img {

		margin: 0 auto $grid-line-height auto;
		border: $border-width solid $canvas-white;
		display: block;

	}

}

.message {

	border: $border-width solid $canvas-blue;
	background: lighten( $canvas-blue, 25% ) center ( $grid-line-height * 2 );
	background-repeat: no-repeat;
	padding: ( $grid-line-height * 2 ) ( $grid-gutter * 2 );
	color: $canvas-blue-dark;
	font-weight: bold;

	&.no-favorites {

		padding-top: $grid-line-height * 8;
		background-image: url( ../images/heart-sad.png );
		display: none;

	}

}

.post-content {

	.download {

		text-align: center;

		.button {

			@include modular-scale( epsilon );

		}

	}

}

.adsbygoogle {

	margin: ( $grid-line-height * $grid-line-height-multiplier ) auto;

}


.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}
