---
layout: default
---
<article>

	<style>
	.game-container {
		max-width: {{ page.game_width | round }}px;
	}
	.game-container-inner {
		padding-bottom: {{ page.game_height | times: 100 | divided_by: page.game_width }}%;
	}
	</style>

	<header class="game-header">
		<h1 class="game-title">{{ page.title | escape }}</h1>
	</header>

	<div class="game-wrapper">

		<div class="game-container">
			<div class="toolbar">
			</div>

			<div class="game-container-inner">
				<iframe
					src="https://games.gamepix.com/play/{{ page.game_id }}?sid=80185"
					frameborder="0"
					scrolling="no"></iframe>
			</div>
		</div>

	</div>

	<div class="game-description wrapper">
		{{ content }}
	</div>

</article>
